body{
  margin: 20px;
  font-family: 'Noto Sans', sans-serif;
}

.menuSuperior img{
  margin-top: auto;
  margin-bottom: auto;
}
.menuSuperior nav a{
  margin-right: 25px;
  color: #005BBB;
  font-weight: bold;

  text-decoration: none;
}
.menuSuperior nav a:hover{
    padding: 5px;
    background: #C4C4C4;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.menuSuperior nav .destaque {
  color: white;
  background-color: #005BBB;
  padding: 5px;
  border-radius: 5px;
}
hr {
  border: 1px solid #005BBB;
}
.menuSuperior nav{
    list-style: none;
    margin: 10px;
    display: inline;
    float: right;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 33px;

}

.item{
 
  margin: 100px 25px 25px 25px;
  
}
.item a {
  text-decoration: none;
  background-color: #FFD500;
  font-size: 18px;
  color: white;
  padding: 15px;
  border-radius:5px;
  margin-top: 20px;
 
}
.item h1{
  color: #005BBB;
}
.item p {
  border: 2px solid #005BBB;
  padding: 50px;
  border-radius: 5px;
  margin-bottom: 40px;
  font-weight: normal;
}
.itemLista {
  border: 2px solid #005BBB;
  border-radius: 5px;
  margin-bottom: 40px;
  font-weight: normal;
}
ul {
  text-align: justify;
  list-style-type: circle;
  list-style-position: inside;
}

.itemLista li{
  margin-left: 50px;
  margin-bottom: 5px;
}
.owl-theme .owl-nav.disabled+.owl-dots{
  margin-bottom: 100px;
  
}
.owl-theme .owl-dots .owl-dot.active span, 
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #FFD500;
}
footer{
    text-align: center;
}
.infLocal{
    padding: 40px; 
    background-color: #005BBB;
}
.infLocal p{
    font-size: medium;
    color: white;
    font-size: 18px;
    margin: 0;
}
.infLocal img{
  margin-bottom: 10px;
}
.infCriador {
    padding: 30px;
    font-size: small;
}

.clickable:hover{
  cursor: pointer;
}
  

  
  

  