body{
  margin: 20px;
  font-family: 'Noto Sans', sans-serif;
}
.menuSuperior img{
  margin-top: auto;
  margin-bottom: auto;
}
.menuSuperior nav a{
  margin-right: 25px;
  color: #262261;
  font-weight: bold;

  text-decoration: none;
}
.menuSuperior nav a:hover{
    padding: 5px;
    background: #C4C4C4;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.menuSuperior nav .destaque {
  color: white;
  background-color: #262261;
  padding: 5px;
  border-radius: 5px;
}
hr {
  border: 1px solid #262261;
}
.menuSuperior nav{
    list-style: none;
    margin: 10px;
    display: inline;
    float: right;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 33px;

}
.carousel  {
  
  margin: 10px 25px 20px 25px;
  
}
.carousel .carousel__item a {
  text-decoration: none;
  background-color: #262261;
  font-size: 18px;
  color: white;
  padding: 15px;
  border-radius:5px;
  margin-top: 20px;
 
}
.carousel .carousel__item h1{
  color: #262261;
}
.carousel .carousel__item p{
  border: 2px solid #262261;
  padding: 50px;
  border-radius: 5px;
  margin-bottom: 40px;
  font-weight: normal;
}
.carousel .carousel__actions {
  margin-top: 50px;
  align-items: left;
}
.carousel .carousel__item,
.carousel .carousel__item--hidden {
    display: none;
}

 .carousel .carousel__item--visible {
    display: block;
    animation: fadeVisibility 0.5s;
  }
  .carousel .carousel__actions button {
    border-radius: 5px;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    width: 25px;
    height: 24px;
    color: #FFF;
    background-color: #C4C4C4;
    margin-right: 5px;
  }

footer{
    text-align: center;
}

.infLocal{
    padding: 60px; 
    background-color: #262261;
}
.infLocal p{
    font-size: medium;
    color: white;
    font-size: 18px;
    
}
.infCriador {
    padding: 30px;
}

.clickable:hover{
  cursor: pointer;
}
  

  
  

  