.tituloMembro{
    display: flex;
    color: #262261;
    margin: 25px;
    margin-left: 25px;
    
}
table {
    text-align: center;
    width: 100%;
    
    margin-bottom: 100px;
    table-layout: fixed;
    border-spacing: 20px;
    
    
}
td:hover{
    background: #C4C4C4;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
table img {
    margin-top: 20px;
}
.tituloPessoa {
    margin: 25px;
}
.tituloPessoa h2, h3 {
    display: inline; 
    vertical-align: middle;
}
.tituloPessoa h2{
    color: #262261;
}
.conteudoPessoa{
 display: flex;
 flex-flow: row wrap;
 margin-left: 50px;
 margin-bottom: 100px;
}
.coluna1{
    margin-top: 25px;
}
.coluna2 {
    margin-left: 20px;
    color: #262261;
    font-weight: bold;
}
.info01 p, img{
    display: inline;
    color: black;
    font-weight: normal;

    vertical-align: middle;
}
.info02 p, img{
    display: inline;
    color: black;
    font-weight: normal;
}
.info03 p, img{
    display: inline;
    color: black;
    font-weight: normal;
}