.produtos{
    margin-bottom: 100px;
    margin-right: 100px;
}
.produtos h2 {
    margin: 25px;
    color: #262261;
}

li {
    margin: 25px;
    color: #262261;
    font-weight: bold;
    margin-left: 50px;
}
li p{
    margin-bottom: 20px;
    margin-left: 50px;
    font-weight: normal;
    color: black;
}