.projetoSobre h2 {
    
    margin: 25px;
    color: #005BBB;
}

.titulo {
text-align: center;
}
.projetoSobre p{
    margin: 50px 50px 190px 50px;
    text-align: justify;
    line-height: 1.6;
    
}